.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border:1px solid steelblue;
  border-radius:6px;
  padding:10px;
}

.ChatContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color:steelblue;
}
.ChatContainer input {
  width: 210px;
  height: 35px;
  margin: 7px;
  border: 2px solid steelblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.ChatContainer button {
  width: 200px;
  height: 50px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: steelblue;
  color: #fff;
  cursor: pointer;
}

.ChatContainer button:hover {
  background: rgb(35, 65, 89);
}
.hide {
  opacity: 0 !important;
}